.about_bg {
  background-image: url("../../assets/icons/aboutbg.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .about_bg {
    background-image: url('../../assets/icons/aboutbg1.png');
  }
}
