.about_bg {
  background-image: url("../../assets/icons/aboutbg.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .about_bg {
    background-size: 600px 584px; /* max-sm uchun width va height ni o'zgartirish */
  }
}
