.about_bg {
  /* background-image: url("../../assets/icons/aboutbg.png"); */
  background-image: url('../../assets/icons/aboutbg.svg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .about_bg {
    background-image: url('../../assets/icons/aboutbg1.svg');
    /* background-image: url('../../assets/icons/aboutbg1.png'); */
  }
}
