/* Scroll barni yashirish */
.scrollbar-hide {
   -ms-overflow-style: none; /* Internet Explorer va Edge */
   scrollbar-width: none; /* Firefox */
 }
 
 .scrollbar-hide::-webkit-scrollbar {
   display: none; /* Chrome, Safari, va yangi Edge */
 }