.language-selector {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  width: 92px;
  height: 40px;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}

.language-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
}

.language-selector:hover .language-button {
  display: none;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown span {
  padding: 8px 8px;
  cursor: pointer;
}

.dropdown span:hover {
  background-color: #ffffff;
}

.language-selector:hover {
  width: 180px;
  height: 40px;
}

.language-selector:hover .dropdown {
  opacity: 1;
}
