.parent_div {
  width: 91%;
  transform: translateX(9%);
  background: linear-gradient(to bottom right, #e5f0ff, #f6f9ff, #ffffff);
}

.parent_div1 {
  width: 92%;
  background: linear-gradient(to right, #0a1c4d, #1c2e85, #121c61);
}

@media (max-width: 1441px) {
  .parent_div {
    width: 98%;
    transform: translateX(2%);
  }

  .parent_div1 {
    width: 98%;
  }
}

@media (min-width: 1700px) {
  .parent_div {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    transform: translateX(0%);
    border-radius: 40px;
  }

  .parent_div1 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    transform: translateX(0%);
    border-radius: 40px;
  }
}

.parent_img1 {
  background: linear-gradient(to bottom right, #e5f0ff, #f6f9ff, #ffffff);
}

.parent_img2 {
  background: linear-gradient(to right, #0a1c4d, #1c2e85, #121c61);
}
