.parent_div {
  width: 92%;
  transform: translateX(8%);
  background-image: url("../../assets/icons/portfolio1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parent_div1 {
  width: 92%;
  /* transform: translateX(-8%); */
  background-image: url("../../assets/icons/portfolio2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1700px) {
  .parent_div {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    transform: translateX(0%);
    border-radius: 40px;
  }

  .parent_div1 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    transform: translateX(0%);
    border-radius: 40px;
  }
}

.parent_img1 {
  background-image: url("../../assets/icons/portfolio1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parent_img2 {
  background-image: url("../../assets/icons/portfolio2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
